.my-nav {
    background-color: rgb(0, 101, 179);
    border-radius: 0 0 1rem 0rem;
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

.group {
    background-color: rgb(230, 230, 230);
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.portrait {
    height: 25%;
    width: 20%;
    margin-top: 1rem;
}

#logo {
    width: 40%;
    height: 25%;
    margin: 1.5rem;
}

#small-logo {
    height: 3.5em;
    width: auto;
}

.addples {
    margin-right: 2em;
}

.info {
    background-color: rgb(240, 240, 240);
    border-radius: 2rem;
}

.blank-list {
    list-style-type: none;
}

h2 {
    padding-left: .5em;
}

.website-link {
    padding-top: 2rem;
    padding-bottom: .5rem;
    font-size: larger;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.menubutton {
    width: 30px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    padding-right: 1rem;
}

.menubutton:hover {
    /* background-color: #ffffff41; */
}

.nav-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 0px;
    height: calc(100vh - 60px);
    background-color: rgba(0, 101, 179, .90);
    z-index: 1000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    font-family: 'Playfair Display', serif;
}

.nav-sidebar ul {
    padding-top: 15px;
    overflow: hidden;
    visibility: hidden;
}

.nav-sidebar ul li {
    line-height: 60px;
    list-style: none;
}

.nav-sidebar ul li a {
    display: block;
    height: 60px;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: #ffffff;
    font-size: 1rem;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li a:hover {
    display: block;
    height: 60px;
    font-weight: 800;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: #cc0027;
    font-size: 1.5rem;
    white-space: nowrap;
}