.my-nav{
   
    background-color: rgb(0,101,179);
    border-radius: 0 0 1rem 1rem;
    font-family: 'Playfair Display', serif;
}

h2{
    font-family: 'Playfair Display', serif;
}

.group{
    background-color: rgb(230,230,230);
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.portrait{
    height: 25%;
    width: 20%;
    margin-top: 1rem;
}

#logo{
    width: 40%;
    height: 25%;
    margin: 1.5rem;
}

#small-logo{
    height: 2.5em;
    width: 1.25em;
}

.addples{
    margin-right: 2em;
}

.info{
    background-color: rgb(240,240,240);
    border-radius: 2rem;
}

.blank-list{
    list-style-type: none;
}

h2{
    padding-left: .5em;
}

.website-link{
    padding-top: 2rem;
    padding-bottom: .5rem;
    font-size: larger;
}

li{
    padding-bottom: 1em;
}