.my-nav{
    background-color: rgb(0,101,179);
    border-radius: 0 0 1rem 0rem;
    font-family: 'Playfair Display', serif;
}

body{
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
}

h4 {
    font-size: small;
    font-weight: 400;
    width: 10%;
    margin-left: -4.5%;
    padding: 0;
}

.group {
    background-color: rgb(240, 240, 240);
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.portrait {
    height: 20%;
    width: 20%;
    margin-top: 1rem;
}

/* .zoom:hover {
    position: relative;
    -webkit-transform: scale(1.75);
    -ms-transform: scale(1.75);
    -o-transform: scale(1.75);
    transform: scale(1.75);
    z-index: 1000;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
} */

#logo {
    width: 40%;
    height: 25%;
    margin: 1.5rem;
}

#small-logo{
    height: 3.5em;
    width: auto;
}

.left-cons{
    margin-left: -8%;
}

.addples{
    margin-right: 2em;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.menubutton {
    width: 30px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    padding-right: 1rem;
}

.nav-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 0px;
    height: calc(100vh - 60px);
    background-color: rgba(0, 101, 179, .90);
    z-index: 1000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    font-family: 'Playfair Display', serif;
}

.nav-sidebar ul {
    padding-top: 15px;
    overflow: auto;
    visibility: hidden;
}

.nav-sidebar ul li {
    line-height: 50px;
    list-style: none;
}

.nav-sidebar ul li a {
    display: block;
    height: 60px;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: #ffffff;
    font-size: 1rem;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li a:hover {
    display: block;
    height: 60px;
    font-weight: 800;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: #cc0027;
    font-size: 1.5rem;
    white-space: nowrap;
}

.starred {
    text-align: center;
}
.card-body .mybtn  {
    background-color:  rgb(0,101,179);
      
}